{% from "__autoindex__/macros.html" import entry, thead
   with context %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Index of {{ curdir.path }}</title>
  {% block meta %}
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('__autoindex__.static', filename='autoindex.css') }}" />
  {% endblock %}
  <script src="https://rawgit.com/davidjbradshaw/iframe-resizer/master/js/iframeResizer.contentWindow.min.js"></script>
</head>
<body>
  {% block header %}{% endblock %}
  {% block table %}
    <table>
      <thead>
        {{ thead() }}
      </thead>
      <tbody>
        {% for ent in entries %}
          {{ entry(ent) }}
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
  {% block footer %}
    {% set env = request.environ %}
  {% endblock %}
</body>
</html>
